<form asp-action="Conteo">
	<h2>Conteo de número de leras</h2>
	<label>Ingrese palabra</label>
	<input name ="pPalabra" /> 
	<button type= "submit">Contar</button>
	<span>@ViewData["Palabra"]</span>
</form>
